<div class="row">
	<div class="col-12">
		<h1 class="text-center my-4">Eat Me Up Some Tasty Burgers App</h1>
	</div>
</div>

<div class="row">
	<form class="burger-form col-12">
		<div class="form-row align-items-center centered">
			<div class="col-5 my-1">
				<input type="text" class="form-control mb-5" id="bur_in" name="burger_name" placeholder="Add your own tasty eatin burger!!">
				<input type="hidden" id="eat_val" name="devoured" value="0">
			</div>
			<div class="col-auto my-1">
				<button type="submit" class="btn btn-blue mb-5">Submit</button>
			</div>
		</div>
	</form>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-3 not_ate">
		<h3>maybe you wanna ate it?</h3>
		{{#each burgers}} {{#unless devoured}}
		<p class="burger_link" data-id="{{this.id}}" data-bellyStatus="{{this.devoured}}">{{this.burger_name}}</p>
		{{/unless}} {{/each}}
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-3 ate">
		<h3>yep. done ated it.</h3>
		{{#each burgers}} {{#if devoured}}
		<p class="burger_ated" data-id="{{this.id}}" data-bellyStatus="{{this.devoured}}">{{this.burger_name}}</p>
		{{/if}} {{/each}}
	</div>
	<div class="col-md-2"></div>
</div>


