<div class="row">
	<div class="col-12">
		<h1 class="text-center my-5">Eat Me Up Some Tasty Burgers App</h1>
	</div>
</div>

<div class="row">
	<form class="burger-form">
		<div class="form-row align-items-center text-center">
			<div class="col-10">
				<label class="sr-only" for="inlineFormInput">Name</label>
				<input type="text" class="form-control mb-5" id="bur_in" name="burger_name" placeholder="Add your tasty eatin burger!!">
				<input type="hidden" id="eat_val" name="devoured" value="0">
			</div>
			<div class="col-2">
				<button type="submit" class="btn btn-primary mb-5">Submit</button>
			</div>
		</div>
	</form>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-3 not_ate">
		{{!-- <img src="assets/img/image.jpg" class="img-responsive" /> --}}
		<h3>Mmmm... maybe you wanna ate it.</h3>
			{{#each burgers}}
			{{#unless devoured}}
				<p class="burger_link" data-id="{{this.id}}" data-bellyStatus="{{this.devoured}}">{{this.burger_name}}</p>
			{{/unless}}
			{{/each}}
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-3 ate">
		{{!-- <img src="assets/img/image.jpg" class="img-responsive" /> --}}
		<h3>done ated.</h3>
		{{#each burgers}}
			{{#if devoured}}
				<p class="burger_link" data-id="{{this.id}}" data-bellyStatus="{{this.devoured}}">{{this.burger_name}}</p>
			{{/if}}
			{{/each}}
	</div>
	<div class="col-md-2"></div>
</div>


{{!-- https://images.pexels.com/photos/460599/pexels-photo-460599.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 --}}
